{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>About The WebSite. </h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why I chose to do a website about pokemon</h2>
        <p>
            I chose to do a website about pokemon because I feel a part of the pokemon community and i wented to help my fellow pokemon trainers to have a better time making a pokemon team or baisically i did what i wished people will do for me first.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>What I used in this project</h2>
        <p>
            In this project i used 2 coding languages and 2 packes flask and pandas.
            you can learn more about them right here
        </p>
        <a href="https://pandas.pydata.org/">Pandas</a>
        <a href="https://pypi.org/project/Flask/">Flask</a>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Do I have future plans for this website</h2>
        <p>I do have future plans, not for the website but for the code I made here I'm making a bot that will work in discord so anyone can invite him to his server and so he can help anyone anywhere build a team.</p>
        <img src="https://cdn.discordapp.com/attachments/346363154529386506/710613350345736281/unknown.png" style="width:350px;height:150px;" />
    </div>
</div>

{% endblock %}
