{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<h4> {{year}}</h4>
<head>

    </head>


    <body>
        <table style="width:100%">
            <tr>
                <th><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHj1FtNy7sZDKdaX2YhUhiwboBiI1X6MQN4hOOXAFdPLXfvpOB&usqp=CAU" alt="Girl in a jacket" style="width:400px;height:300px;">
                <th><img src="https://i.ytimg.com/vi/XFY5Liixn_E/maxresdefault.jpg" alt="Girl in a jacket" style="width:400px;height:300px;">
                <th><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx5RB0R_M51LCjW3Lgt1Coz_rbDFpfWvoY8gCe7kd-h26d7K3QHA&s" alt="Girl in a jacket" style="width:400px;height:300px;">

            </tr>

        </table>


        <p>In this page you can see the databases that I will be using in this project Pokemon!</p>
        <button data-target="#collapse" data-toggle="collapse" class="btn btn-default">Dataset</button>

        <div id="collapse" class="collapse">
            <table style="width:100%">
                <tr>
                    <th>Pokemon Database</th>
                    <th>Analyzer</th>
                </tr>

                <tr>
                    <td><p><a href="{{ url_for('Dataone') }}">Dataset </a></p></td>
                    <td><p><a href="{{ url_for('Query') }}">Analyzar</a></p></td>
                </tr>
                <tr>
                  
                </tr>

            </table>
        </div>

        
    </body>
{% endblock %}
