{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table border="1" >
    <tr>
        <td>
            <img src="static/pics/pic1.jpg" width="300" height="300"/>
        </td>
        <td>
            <img src="static/pics/pic1.jpg" width="300" height="300"/>
        </td>
        <td>
            <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1557515921%2Fchina-giant-panda-PANDAS0519.jpg%3Fitok%3DNLUEI-Be&w=400&c=sc&poi=face&q=85" width="300" height="300"/>
        </td>

    </tr>


</table>

{% endblock %}
