{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{title}}</h2>

<p>This page will enable the user to input a data field</p>


<form method="post" action="">
    {{ form.csrf }}
    <fieldset class="form-group">
    <h5> PUT YOUR POKEMONS! </h5>
    <dir class="form-group">
        {{ form.pokemon1.label(class="form-control-label") }}
        {{ form.pokemon1.label(class="form-control form-control-lg") }}
    </dir>
    <dir class="form-group">
        {{ form.pokemon2.label(class="form-control-label") }}
        {{ form.pokemon2.label(class="form-control form-control-lg") }}
    </dir>
    <dir class="form-group">
        {{ form.stat.label(class="form-control-label") }}
        {{ form.stat.label(class="form-control form-control-lg") }}
    </dir>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

<h3> graph is </h3>
{{bar_graph | safe}}


<h3> Table is </h3>

{{ raw_data_table | safe}}


    {% endblock %}


